<h4>
  Closest to My Location
</h4>
{{input value=location}}

<ul>
  <h4>Packaging</h4>
  <li>
    {{input type="checkbox" name="shelled" checked=isShelled}}
    <label name="shelled">Shelled</label>
  </li>
  <li>
    {{input type="checkbox" name="unshelled" checked=isUnshelled}}
    <label name="unshelled">Unshelled</label>
  </li>
  <li>
    {{input type="checkbox" name="packaged" checked=isPackaged}}
    <label name="packaged">Packaged</label>
  </li>
</ul>


<ul>
  <h4>Variety</h4>
  <li>
    {{input type="checkbox" name="variety1" checked=variety1}}
    <label name="variety1">Variety 1</label>
  </li>
  <li>
    {{input type="checkbox" name="variety2" checked=variety2}}
    <label name="variety2">Variety 2</label>
  </li>
  <li>
    {{input type="checkbox" name="variety3" checked=variety3}}
    <label name="variety3">Variety 3</label>
  </li>
</ul>
